<div class="user-nav">
  <% if @user %>
    <% if @user.image %>
      <img src="<%== @user.image %>" style="height:40px"/><br/>
    <% end %>
    <a href="https://www.qrz.com/db/<%== url_escape(@user.call_sign) %>"><%== @user.call_sign %></a> |
    <a href="/favorites">favorites</a> |
    <% if @user.admin? %>
      <a href="/admin">admin</a> |
    <% end %>
    <% if @user.net_logger? && !@user.logging_net %>
      <a href="/create-net">create net</a> |
    <% end %>
    <a href="/logout" onclick="document.getElementById('logout-form').submit(); return false">log out</a>
    <form id="logout-form" style="display:none;" action="/logout" method="post"><input type="submit"/></form>
  <% else %>
    <a href="/login">log in</a>
  <% end %>
  <% if @user.logging_net && @net != @user.logging_net %>
    | <span class="warning"><a href="/net/<%= url_escape @user.logging_net.name %>"><%== @user.logging_net.name %></a></span>
  <% end %>
</div>
