<p><a href="/">home</a></p>

<h1>Admin</h1>

<h2>Stats</h2>

<table>
  <thead>
    <tr>
      <th>Table</th>
      <th>Record Count</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>checkins</td>
      <td><%= Tables::Checkin.count %></td>
    </tr>
    <tr>
      <td>closed nets</td>
      <td><%= Tables::ClosedNet.count %></td>
    </tr>
    <tr>
      <td>clubs</td>
      <td><%= Tables::Club.count %></td>
      <td><%= format_time Tables::Club.maximum(:updated_at) %></td>
    </tr>
    <tr>
      <td>favorites</td>
      <td><%= Tables::Favorite.count %></td>
    </tr>
    <tr>
      <td>monitors</td>
      <td><%= Tables::Monitor.count %></td>
    </tr>
    <tr>
      <td>messages</td>
      <td><%= Tables::Message.count %></td>
    </tr>
    <tr>
      <td>nets</td>
      <td><%= Tables::Net.count %></td>
    </tr>
    <tr>
      <td>servers</td>
      <td><%= Tables::Server.count %></td>
      <td><%= format_time Tables::Server.maximum(:updated_at) %></td>
    </tr>
    <tr>
      <td>stations</td>
      <td><%= Tables::Station.count %></td>
    </tr>
    <tr>
      <td>users</td>
      <td><%= Tables::User.count %></td>
    </tr>
  </tbody>
</table>

<h2>Details</h2>

<ul>
  <li><a href="/admin/closed-nets">closed nets</a></li>
  <li><a href="/admin/clubs">clubs</a></li>
  <li><a href="/admin/users">users</a></li>
</ul>

<h2 id="blocked-nets">Blocked Nets</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reason</th>
      <th>Blocked</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Tables::BlockedNet.order(:name).each do |blocked_net| %>
      <tr>
        <td><%== blocked_net.name %></td>
        <td><%== blocked_net.reason %></td>
        <td><%== format_time(blocked_net.created_at) %></td>
        <td>
          <form action="/admin/unblock_net" method="post" onsubmit="if (!confirm('Sure?')) return false">
            <input type="hidden" name="name" value="<%== url_escape(blocked_net.name) %>"/>
            <button>remove</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<form action="/admin/block_net" method="post">
  <input name="name" placeholder="name"/>
  <input name="reason" placeholder="reason"/>
  <input type="submit" value="Block net"/>
</form>

<p>You can use <code>/regex/</code> syntax for the name. All regexps are case insensitive.</p>
