<p>
  <a href="/">home</a> |
  <a href="/admin">admin</a>
</p>

<h1>Nets</h1>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Club</th>
        <th>Name</th>
        <th>Frequency</th>
        <th>Mode</th>
        <th>Band</th>
      </tr>
    </thead>
    <tbody>
      <% @nets.each do |net| %>
        <tr>
          <td>
            <% if net.club %>
              <a href="/group/<%== url_escape(net.club.name) %>"><%== net.club.name %></a>
            <% end %>
          </td>
          <td>
            <a href="/net/<%== url_escape(net.name) %>"><%== net.name %></a>
          </td>
          <td><%== net.frequency %></td>
          <td><%== net.mode %></td>
          <td><%== net.band %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <form class="inline" action="/admin/refresh-net-list" method="post"><button>refresh net list</button></form>
  <form class="inline" action="/admin/associate-clubs" method="post"><button>associate clubs</button></form>
</p>
