<h1><%== params[:table] %> (<%== @count %>)</h1>

<form class="inline">
  <select name="column">
    <option></option>
    <% @columns.each do |column| %>
      <option <%= params[:column] == column.name ? 'selected' : '' %> value="<%== make_value_safe_for_html_attribute column.name %>"><%== column.name %></option>
    <% end %>
  </select>
  <input type="text" name="value" value="<%== make_value_safe_for_html_attribute params[:value] %>"/>
  <input type="submit" value="search" class="inline"/>
  <input type="checkbox" id="like" name="like" value="true" <%= params[:like] ? 'checked' : '' %>/>
  <label for="like" class="inline">LIKE</label>
  <% if params[:column] %>
    <a href="?">clear</a>
  <% end %>
</form>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <% @columns.each do |column| %>
          <th><%== column.name %></p>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <% @columns.each do |column| %>
            <td>
              <% if (val = record[column.name]).nil? %>
                <em>nil</em>
              <% elsif column.name == 'club_id' %>
                <a href="/admin/clubs/<%== val %>/edit"><%== val %></a>
              <% elsif column.name == 'net_id' %>
                <a href="/admin/nets/<%== val %>"><%== val %></a>
              <% elsif column.name == 'user_id' %>
                <a href="/admin/users/<%== val %>"><%== val %></a>
              <% else %>
                <%== val %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <% if params[:after] %>
     <a href="/admin/table/<%== params[:table] %>">start</a>
  <% end %>
  <% if params[:after] && @more_pages %>|<% end %>
  <% if @more_pages %>
    <a href="/admin/table/<%== params[:table] %>?after=<%== @records.last.id %>">more</a>
  <% end %>
</p>
