<h1>Admin</h1>

<% if @suggested_clubs.any? %>
<h2>Suggested Clubs</h2>

<p><%= @suggested_clubs.count %> club suggestion<%= @suggested_clubs.count == 1 ? '' : 's' %> pending review: <%= @suggested_clubs.map(&:name).join(', ') %></p>

<p><a href="/admin/suggested-clubs">Review suggestions</a></p>
<% end %>

<div id="user_chart_weekly" data-data="<%= json_for_html_attribute @user_stats_weekly %>"></div>

<script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  buildStatCharts()
})
</script>

<h2>Ragchew Nets</h2>

<p>Nets created by this tool in the last 7 days:</p>

<% if @ragchew_nets.any? %>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Club</th>
          <th>Net Control</th>
          <th>Net Logger</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @ragchew_nets.each do |net| %>
          <tr class="<%= net.is_a?(Tables::ClosedNet) ? 'closed-ragchew-net' : 'active-ragchew-net' %>">
            <td>
              <% if net.is_a?(Tables::ClosedNet) %>
                <a href="/closed-net/<%= url_escape net.id %>"><%== net.name %></a>
              <% else %>
                <a href="/net/<%= url_escape net.name %>"><%== net.name %></a>
              <% end %>
            </td>
            <td>
              <% if net.club %>
                <a href="/group/<%== url_escape(net.club.name) %>"><%== net.club.best_name %></a>
              <% else %>
                <em>no club</em>
              <% end %>
            </td>
            <td>
              <% if net.net_control.present? %>
                <a href="/admin/users/<%= url_escape net.net_control %>"><%== net.net_control %></a>
              <% end %>
            </td>
            <td>
              <% if net.net_logger.present? %>
                <a href="/admin/users/<%= url_escape net.net_logger.split('-').first %>"><%== net.net_logger %></a>
              <% end %>
            </td>
            <td><%= format_time net.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p><em>no data</em></p>
<% end %>

<p><a href="/admin/table/closed_nets?column=created_by_ragchew&value=true">show all</a></p>

<h2>New Users</h2>

<p>Users created in the last 7 days:</p>

<% if @new_users.any? %>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Call Sign</th>
          <th>Name</th>
          <th>Created</th>
          <th>Last Signed In</th>
        </tr>
      </thead>
      <tbody>
        <% @new_users.each do |user| %>
          <tr<%= user.one_time_user? ? ' class="single-login-user"' : '' %>>
            <td><a href="/admin/users/<%= user.id %>"><%== user.call_sign %></a></td>
            <td><%== user.first_name %> <%== user.last_name %></td>
            <td><%= format_time user.created_at %></td>
            <td><%= format_time user.last_signed_in_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p><em>no data</em></p>
<% end %>

<h2>Data</h2>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Table</th>
        <th>Record Count</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/admin/table/checkins">checkins</a></td>
        <td><%= Tables::Checkin.count %></td>
        <td><%= format_time Tables::Checkin.maximum(:created_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/closed-nets">closed nets</a></td>
        <td><%= Tables::ClosedNet.count %></td>
        <td><%= format_time Tables::ClosedNet.maximum(:created_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/clubs">clubs</a></td>
        <td><%= Tables::Club.count %></td>
        <td><%= format_time Tables::Club.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/club_members">clubs members</a></td>
        <td><%= Tables::ClubMember.count %></td>
        <td><%= format_time Tables::ClubMember.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/club_stations">club stations</a></td>
        <td><%= Tables::ClubStation.count %></td>
        <td><%= format_time Tables::ClubStation.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/favorites">favorites</a></td>
        <td><%= Tables::Favorite.count %></td>
        <td><%= format_time Tables::Favorite.maximum(:created_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/monitors">monitors</a></td>
        <td><%= Tables::Monitor.count %></td>
        <td><%= format_time Tables::Monitor.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/messages">messages</a></td>
        <td><%= Tables::Message.count %></td>
        <td><%= format_time Tables::Message.maximum(:created_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/nets">nets</a></td>
        <td><%= Tables::Net.count %></td>
        <td><%= format_time Tables::Net.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/net_stations">net stations</a></td>
        <td><%= Tables::NetStation.count %></td>
        <td><%= format_time Tables::NetStation.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/servers">servers</a></td>
        <td><%= Tables::Server.count %></td>
        <td><%= format_time Tables::Server.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/stations">stations</a></td>
        <td><%= Tables::Station.count %></td>
        <td><%= format_time Tables::Station.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/stats">stats</a></td>
        <td><%= Tables::Stat.count %></td>
        <td><%= format_time Tables::Stat.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/suggested_clubs">suggested clubs</a></td>
        <td><%= Tables::SuggestedClub.count %></td>
        <td><%= format_time Tables::SuggestedClub.maximum(:created_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/users">users</a></td>
        <td><%= Tables::User.count %></td>
        <td><%= format_time Tables::User.maximum(:created_at) %></td>
      </tr>
    </tbody>
  </table>
</div>

<h2 id="blocked-nets">Blocked Nets</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reason</th>
      <th>Blocked</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Tables::BlockedNet.order(:name).each do |blocked_net| %>
      <tr>
        <td><%== blocked_net.name %></td>
        <td><%== blocked_net.reason %></td>
        <td><%= format_time(blocked_net.created_at) %></td>
        <td>
          <form action="/admin/unblock_net" method="post" onsubmit="if (!confirm('Sure?')) return false">
            <input type="hidden" name="name" value="<%== url_escape(blocked_net.name) %>"/>
            <button>remove</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<form action="/admin/block_net" method="post">
  <input name="name" placeholder="name"/>
  <input name="reason" placeholder="reason"/>
  <input type="submit" value="Block net"/>
</form>

<p>You can use <code>/regex/</code> syntax for the name. All regexps are case insensitive.</p>
