<p>
  <a href="/">home</a> |
  <a href="/admin">admin</a>
</p>

<h1>Closed Nets</h1>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Started At</th>
        <th>Ended At</th>
        <th>Length</th>
        <th>Check-ins</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @closed_nets.each do |closed_net| %>
        <tr>
          <td><a href="/net/<%== url_escape(closed_net.name) %>"><%== closed_net.name %></a></td>
          <td>
            <%== format_time(closed_net.started_at) %><br/>
            (<%== time_ago_in_words(closed_net.started_at) %> ago)</em>
          </td>
          <td>
            <%== format_time(closed_net.ended_at) %><br/>
            (<%== time_ago_in_words(closed_net.ended_at) %> ago)</em>
          </td>
          <td><%== distance_of_time_in_words(closed_net.started_at, closed_net.ended_at) %> long</td>
          <td><%== closed_net.checkin_count %></td>
          <td>
          <td>
            <form action="/admin/closed-net/<%== closed_net.id %>" method="post" onsubmit="if (!confirm('Sure?')) return false">
              <input type="hidden" name="_method" value="delete"/>
              <button>delete</button>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <% if params[:started_at] %>
    <a href="/admin/closed-nets">start</a>
  <% end %>
  <% if params[:started_at] && @more_pages %>|<% end %>
  <% if @more_pages %>
    <a href="/admin/closed-nets?started_at=<%== @closed_nets.last.started_at.rfc3339 %>">more</a>
  <% end %>
</p>
