<p><a href="/">home</a></p>

<dl>
  <dt>Total user count:</dt>
  <dd><%== @user_count_total %></dd>
  <dt>User count last 24 hours:</dt>
  <dd><%== @user_count_last_24_hours %></dd>
  <dt>User count last 1 hour:</dt>
  <dd><%== @user_count_last_1_hour %></dd>
</dl>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Call Sign</th>
        <th>Name</th>
        <th>Last Signed In</th>
        <th>First Signed In</th>
        <th>Monitoring</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <a href="https://www.qrz.com/db/<%== url_escape(user.call_sign) %>">
              <%== user.call_sign %>
            </a>
          </td>
          <td><%== user.first_name %> <%== user.last_name %></td>
          <td><%== format_time(user.last_signed_in_at) %></td>
          <td><%== format_time(user.created_at) %></td>
          <td>
            <% if user.monitoring_net %>
              <a href="/net/<%== url_escape(user.monitoring_net.name) %>"><%== user.monitoring_net.name %></a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
