<p>
  <a href="/">home</a> |
  <a href="/admin">admin</a>
</p>

<h1>Users</h1>

<form action="/admin/users">
  <input name="call_sign" placeholder="call sign" value="<%== params[:call_sign].to_s.upcase %>"/>
  <input type="submit" value="search"/>
  <% if params[:call_sign] %>
    <a href="/admin/users">clear</a>
  <% end %>
</form>

<dl>
  <dt>Total user count:</dt>
  <dd><%== @user_count_total %></dd>
  <dt>User count last 30 days:</dt>
  <dd><%== @user_count_last_30_days %></dd>
  <dt>User count last 7 days:</dt>
  <dd><%== @user_count_last_7_days %></dd>
  <dt>User count last 24 hours:</dt>
  <dd><%== @user_count_last_24_hours %></dd>
  <dt>User count last 1 hour:</dt>
  <dd><%== @user_count_last_1_hour %></dd>
</dl>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th><a href="?order=call_sign">Call Sign</a></th>
        <th><a href="?order=first_name,last_name">Name</a></th>
        <th><a href="?order=last_signed_in_at">Last Signed In</a></th>
        <th><a href="?order=created_at">First Signed In</a></th>
        <th>Checked In</th>
        <th>Monitoring</th>
        <th>Favorites</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <a href="/admin/users/<%== user.id %>">
              <%== user.call_sign %>
            </a>
          </td>
          <td><%== user.first_name %> <%== user.last_name %></td>
          <td><%== format_time(user.last_signed_in_at) %></td>
          <td><%== format_time(user.created_at) %></td>
          <td>
            <%= erb :_last_heard, locals: { call_sign: user.call_sign } %>
          </td>
          <td>
            <% if user.monitoring_net %>
              <a href="/net/<%== url_escape(user.monitoring_net.name) %>"><%== user.monitoring_net.name %></a>
            <% end %>
          </td>
          <td><%= user.favorites.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <% if params[:offset] %>
    <a href="/admin/users<%== params[:call_sign] ? "?name=#{url_escape(params[:call_sign])}" : '' %>">start</a>
  <% end %>
  <% if params[:offset] && @more_pages %>|<% end %>
  <% if @more_pages %>
    <a href="/admin/users?offset=<%== params[:offset].to_i + @per_page %><%== params[:call_sign] ? "&call_sign=#{url_escape(params[:call_sign])}" : '' %>">more</a>
  <% end %>
</p>
