<h1>Admin</h1>

<h2>Data</h2>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Table</th>
        <th>Record Count</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/admin/table/checkins">checkins</a></td>
        <td><%= Tables::Checkin.count %></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/admin/closed-nets">closed nets</a></td>
        <td><%= Tables::ClosedNet.count %></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/admin/clubs">clubs</a></td>
        <td><%= Tables::Club.count %></td>
        <td><%= format_time Tables::Club.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/club_members">clubs members</a></td>
        <td><%= Tables::ClubMember.count %></td>
        <td><%= format_time Tables::ClubMember.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/favorites">favorites</a></td>
        <td><%= Tables::Favorite.count %></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/admin/table/monitors">monitors</a></td>
        <td><%= Tables::Monitor.count %></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/admin/table/messages">messages</a></td>
        <td><%= Tables::Message.count %></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/admin/nets">nets</a></td>
        <td><%= Tables::Net.count %></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/admin/table/servers">servers</a></td>
        <td><%= Tables::Server.count %></td>
        <td><%= format_time Tables::Server.maximum(:updated_at) %></td>
      </tr>
      <tr>
        <td><a href="/admin/table/stations">stations</a></td>
        <td><%= Tables::Station.count %></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="/admin/users">users</a></td>
        <td><%= Tables::User.count %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<h2 id="blocked-nets">Blocked Nets</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reason</th>
      <th>Blocked</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% Tables::BlockedNet.order(:name).each do |blocked_net| %>
      <tr>
        <td><%== blocked_net.name %></td>
        <td><%== blocked_net.reason %></td>
        <td><%= format_time(blocked_net.created_at) %></td>
        <td>
          <form action="/admin/unblock_net" method="post" onsubmit="if (!confirm('Sure?')) return false">
            <input type="hidden" name="name" value="<%== url_escape(blocked_net.name) %>"/>
            <button>remove</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<form action="/admin/block_net" method="post">
  <input name="name" placeholder="name"/>
  <input name="reason" placeholder="reason"/>
  <input type="submit" value="Block net"/>
</form>

<p>You can use <code>/regex/</code> syntax for the name. All regexps are case insensitive.</p>
