<h1>Closed Nets (<%= @total_count %>)</h1>

<div class="columns vertically-centered">
  <div class="column">
    last:
    <% [1, 7, 30, 365, 'all'].each do |count| %>
      <% if params[:days] == count.to_s %>
        <strong><%= count %> <%= pluralize 'day', count %></strong>
      <% else %>
        <a href="?days=<%= count %>&sort=<%= url_escape(params[:sort]) %>&name=<%= url_escape(params[:name]) %>"><%= count %> <%= pluralize 'day', count %></a>
      <% end %>
      <%= count == 'all' ? '' : '|' %>
    <% end %>
  </div>
  <div class="column column-right">
    <form method="get">
      <input type="hidden" name="days" value="<%= make_value_safe_for_html_attribute params[:days] %>"/>
      <input type="hidden" name="sort" value="<%= make_value_safe_for_html_attribute params[:sort] %>"/>
      <input name="name" placeholder="search by name" value="<%= make_value_safe_for_html_attribute params[:name] %>"/>
      <a href="?days=<%= url_escape(params[:days]) %>&sort=<%= url_escape(params[:sort]) %>">clear</a>
    </form>
  </div>
</div>

<% if @closed_nets.any? %>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th><a href="?days=<%= url_escape(params[:days]) %>&sort=name&name=<%= url_escape(params[:name]) %>">Name</a></th>
          <th><a href="?days=<%= url_escape(params[:days]) %>&sort=frequency&name=<%= url_escape(params[:name]) %>">Frequency</a></th>
          <th><a href="?days=<%= url_escape(params[:days]) %>&sort=started_at&name=<%= url_escape(params[:name]) %>">Started at</a></th>
        </tr>
      </thead>
      <tbody>
        <% @closed_nets.each do |closed_net| %>
          <% next if Tables::BlockedNet.blocked?(closed_net.name) %>
          <tr>
            <td><a href="/closed-net/<%= closed_net.id %>"><%== closed_net.name %></a></td>
            <td><%= closed_net.frequency %></td>
            <td><%= format_time(closed_net.started_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p><em>no nets for this period</em></p>
<% end %>

<p>
  <% if params[:offset] %>
    <a href="?days=<%= url_escape(params[:days]) %>&sort=<%= url_escape(params[:sort]) %>">start</a>
  <% end %>
  <% if params[:offset] && @more_pages %>|<% end %>
  <% if @more_pages %>
    <a href="?days=<%= url_escape(params[:days]) %>&sort=<%= url_escape(params[:sort]) %>&offset=<%== params[:offset].to_i + @per_page %>">more</a>
  <% end %>
</p>
