<p><a href="/">home</a></p>

<h1>
  <%= club_logo_image_tag(@closed_net.club) %>
  <%== @closed_net.name %> (closed)
</h1>

<% if (club = @closed_net.club) && club.about_url.present? %>
  <p><a href="<%== make_url_safe_for_html_attribute(club.about_url) %>"><%= pretty_url(club.about_url) %></a></p>
<% end %>

<% if params[:id] %>
  <p>
    Admin only: You are viewing a closed net from the archive.
    <a href="/admin/closed-nets?name=<%== url_escape(@closed_net.name) %>">name search</a> |
    <a href="/net/<%== url_escape(@closed_net.name) %>">public page</a>
  </p>
<% end %>

<p>
  <strong>This net is closed.</strong> Please check back later,
  <% if @net_count > 0 %>
    or visit the home page where <a href="/"><%= @net_count %> other net<%= @net_count == 1 ? '' : 's' %></a>
    are ongoing.
  <% else %>
    or visit the <a href="/">home page</a>.
  <% end %>
</p>

<%= erb :_net_info, locals: { net: @closed_net } %>

<% if @closed_net.show_circle? %>
  <div id="net-map"
       data-centers='<%= [{ latitude: @closed_net.center_latitude, longitude: @closed_net.center_longitude, radius: @closed_net.center_radius }].to_json %>'></div>
<% end %>

<script id="map-script">
  const elm = document.getElementById('net-map')
  const centers = JSON.parse(elm.getAttribute('data-centers'))
  buildNetMap()
  updateNetMapCenters(centers)
</script>
