<%= erb :_user %>

<p><a href="/">home</a></p>

<header class="flex">
  <div class="header-col-grow">
    <%= erb :_club_breadcrumb, locals: { net: @closed_net } %>

    <h1><%== @closed_net.name %> (closed)</h1>

    <p><em>ended <%== time_ago_in_words(@closed_net.ended_at) %> ago</em></p>
  </div>

  <div class="header-col">
    <%= club_logo_image_tag(@closed_net.club) %>
  </div>
</header>

<% if is_admin? && params[:id] %>
  <div class="admin-only">
    Admin only: You are viewing a closed net from the archive.
    <a href="/admin/closed-nets?name=<%== url_escape(@closed_net.name) %>">name search</a> |
    <a href="/net/<%== url_escape(@closed_net.name) %>">public page</a>
    <% if @closed_net.club %>
      <form action="/admin/remove_closed_net_from_club" method="post" onsubmit="if (!confirm('Sure?')) return false">
        <input type="hidden" name="id" value="<%== @closed_net.id %>"/>
        <button>remove club</button>
      </form>
    <% end %>
    <form action="/admin/closed-net/<%== @closed_net.id %>" method="post" onsubmit="if (!confirm('Sure?')) return false">
      <input type="hidden" name="_method" value="delete"/>
      <button>delete net</button>
    </form>
  </div>
<% end %>

<p>
  <strong>This net is closed.</strong> Please check back later,
  <% if @net_count > 0 %>
    or visit the home page where <a href="/"><%= @net_count %> other net<%= @net_count == 1 ? '' : 's' %></a>
    are ongoing.
  <% else %>
    or visit the <a href="/">home page</a>.
  <% end %>
</p>

<%= erb :_net_info, locals: { net: @closed_net } %>

<% if @closed_net.show_circle? %>
  <div id="net-map"
       data-centers='<%= json_for_html_attribute [{ latitude: @closed_net.center_latitude, longitude: @closed_net.center_longitude, radius: @closed_net.center_radius }]%>'></div>

  <script id="map-script">
    const elm = document.getElementById('net-map')
    const centers = JSON.parse(elm.getAttribute('data-centers'))
    buildNetMap()
    updateNetMapCenters(centers)
  </script>
<% end %>
