<%= club_logo_image_tag(@club) %>

<h1><%== @club.full_name.presence || @club.name %></h1>

<% if @club.about_url.present? %>
  <p>website: <a href="<%== make_url_safe_for_html_attribute(@club.about_url) %>"><%== pretty_url(@club.about_url) %></a></p>
<% end %>

<% if @club.description %>
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(@club.description) %>
<% end %>

<% if @user %>
  <% if @club.club_members.where(user_id: @user.id).any? %>
    <div>
      <em>You have indicated you are a member of this <%= club_noun %>.</em>
      <form class="inline" action="/leave-group/<%= @club.id %>" method="post"><button>Leave <%= club_noun %></button></form>
    </div>
  <% else %>
    <div>
      <form class="inline" action="/join-group/<%= @club.id %>" method="post"><button>Join <%= club_noun %></button></form>
      <em>NOTE: Joining here has no effect on the official <%= club_noun %> membership list. This site is just for fun!</em>
    </div>
  <% end %>
<% end %>

<% if @net_names.any? %>
  <h2>Nets</h2>

  <ul>
    <% @net_names.each do |name| %>
      <li>
        <a href="/net/<%== url_escape(name) %>"><%== name %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<p class="disclaimer">If you see a mistake with the information above, please <a href="mailto:<%= SUPPORT_EMAIL %>">email Tim</a>.</p>

<% if is_admin? %>
  <div class="admin-only">
    Admin only: <a href="/admin/clubs/<%== @club.id %>/edit">edit</a>
  </div>
<% end %>
