<%= club_logo_image_tag(@club) %>

<h1><%== @club.full_name.presence || @club.name %></h1>

<% if @club.about_url.present? %>
  <p>website: <a href="<%== make_url_safe_for_html_attribute(@club.about_url) %>"><%== pretty_url(@club.about_url) %></a></p>
<% end %>

<% if @club.description %>
  <%= Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true).render(@club.description) %>
<% end %>

<% if @net_names.any? %>
  <h2>Nets</h2>

  <ul>
    <% @net_names.each do |name| %>
      <li>
        <a href="/net/<%== url_escape(name) %>"><%== name %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<p class="disclaimer">If you see a mistake with the information above, please <a href="mailto:<%= SUPPORT_EMAIL %>">email Tim</a>.</p>

<% if is_admin? %>
  <div class="admin-only">
    Admin only: <a href="/admin/clubs/<%== @club.id %>/edit">edit</a>
  </div>
<% end %>
