<h2>Favorite Nets (<%= @favorite_net_details.size %>)</h2>

<% if @favorite_net_details.any? %>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Net</th>
          <th>Live</th>
        </tr>
      </thead>
      <tbody>
        <% @favorite_net_details.each do |favorite_net_detail| %>
          <tr>
            <td>
              <div data-component="FavoriteNet" data-props="<%= make_value_safe_for_html_attribute({ netName: favorite_net_detail.net_name, favorited: true }.to_json) %>"></div>
            </td>
            <td><a href="/net/<%== url_escape(favorite_net_detail.net_name) %>"><%== favorite_net_detail.net_name %></a></td>
            <td>
              <% if favorite_net_detail.active_net %>
                <a href="/net/<%= url_escape(favorite_net_detail.net_name) %>">Live now</a>
              <% elsif favorite_net_detail.last_closed_at %>
                <%= format_time favorite_net_detail.last_closed_at %>
              <% else %>
                Never
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p><em>You have no favorite nets.</em> Click the <img class="favorite-star" src="/images/star-outline.svg" style="height:15px"/> icon next to a net name to add one.</p>
<% end %>

<p><em>You can find <a href="/closed-nets">closed nets here</a>. Note that sometimes nets use slightly different names, and we don't do any fuzzy matching here. You'll need to find every variation to add. :-(</em></p>

<h2>Favorite Stations (<%= @favorites.size %>)</h2>

<p>Favorite stations allow you to easily spot friends if they have checked in on a net. You can add up to <%== MAX_FAVORITES %> favorite stations.</p>

<% monitoring_by_call_sign = Tables::Monitor.where(call_sign: @favorites.map(&:call_sign)).includes(:net).select(&:net).each_with_object({}) { |c, h| h[c.call_sign] ||= []; h[c.call_sign] << c.net } %>

<% if @favorites.any? %>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Call Sign</th>
          <th>Name</th>
          <th>Checked In</th>
          <th>Monitoring</th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td>
              <div data-component="Favorite" data-props="<%= make_value_safe_for_html_attribute({ callSign: favorite.call_sign, favorited: true }.to_json) %>"></div
            </td>
            <td><%== favorite.call_sign %></td>
            <td>
              <%== favorite.first_name %>
              <%== favorite.last_name %>
            </td>
            <td>
              <%= erb :_last_heard, locals: { call_sign: favorite.call_sign } %>
            </td>
            <td>
              <% nets = monitoring_by_call_sign[favorite.call_sign] || [] %>
              <% nets.each_with_index do |net, index| %>
                <a href="/net/<%== url_escape(net.name) %>"><%== net.name %></a><% if index < nets.size - 1 %>,<% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p>Click the <img class="favorite-star" src="/images/star-outline.svg" style="height:15px"/> icon to add/remove favorites.</p>
<% else %>
  <p><em>You have no favorite stations.</em> Click the <img class="favorite-star" src="/images/star-outline.svg" style="height:15px"/> icon when viewing a net to add one.</p>
<% end %>

<form action="/favorite" method="post">
  <p>Or you can add a favorite by call sign here: <input name="call_sign" size="7"/> <button>Add</button></p>
</form>
