<h2>Favorite Nets (<%= @favorite_net_details.size %>)</h2>

<% if @favorite_net_details.any? %>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Net</th>
          <th>Live</th>
        </tr>
      </thead>
      <tbody>
        <% @favorite_net_details.each do |favorite_net_detail| %>
          <tr>
            <td>
              <div data-component="FavoriteNet" data-props="<%= make_value_safe_for_html_attribute({ netName: favorite_net_detail.net_name, favorited: true }.to_json) %>"></div>
            </td>
            <td><a href="/net/<%== url_escape(favorite_net_detail.net_name) %>"><%== favorite_net_detail.net_name %></a></td>
            <td>
              <% if favorite_net_detail.active_net %>
                <a href="/net/<%= url_escape(favorite_net_detail.net_name) %>">Live now</a>
              <% elsif favorite_net_detail.last_closed_at %>
                <%= format_time favorite_net_detail.last_closed_at %>
              <% else %>
                Never
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p><em>You have no favorite nets.</em> Click the <img class="favorite-star" src="/images/star-outline.svg" style="height:15px"/> icon next to a net name to add one.</p>
<% end %>

<p><em>You can find <a href="/closed-nets">closed nets here</a>. Note that sometimes nets use slightly different names, and we don't do any fuzzy matching here. You'll need to find every variation to add. :-(</em></p>

<h2>Favorite Stations (<%= @favorite_details.size %>)</h2>

<p>Favorite stations allow you to easily spot friends if they have checked in on a net. You can add up to <%== MAX_FAVORITES %> favorite stations.</p>

<% if @favorite_details.any? %>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Call Sign</th>
          <th>Name</th>
          <th>Last Net</th>
          <th>Last Heard</th>
          <th>Monitoring</th>
        </tr>
      </thead>
      <tbody>
        <% @favorite_details.each do |favorite_detail| %>
          <tr>
            <td>
              <div data-component="Favorite" data-props="<%= make_value_safe_for_html_attribute({ callSign: favorite_detail.call_sign, favorited: true }.to_json) %>"></div
            </td>
            <td><%== favorite_detail.call_sign %></td>
            <td>
              <%== favorite_detail.first_name %>
              <%== favorite_detail.last_name %>
            </td>
            <td>
              <% if favorite_detail.station %>
                <a href="/net/<%== url_escape(favorite_detail.station.last_heard_on) %>"><%== favorite_detail.station.last_heard_on %></a>
              <% end %>
            </td>
            <td>
              <% if favorite_detail.station&.last_heard_at %>
                <%= format_time(favorite_detail.station.last_heard_at) %>
              <% end %>
            </td>
            <td>
              <% favorite_detail.monitoring.each_with_index do |monitor, index| %>
                <a href="/net/<%== url_escape(monitor.net.name) %>"><%== monitor.net.name %></a><% if index < favorite_detail.monitoring.size - 1 %>,<% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p>Click the <img class="favorite-star" src="/images/star-outline.svg" style="height:15px"/> icon to add/remove favorites.</p>
<% else %>
  <p><em>You have no favorite stations.</em> Click the <img class="favorite-star" src="/images/star-outline.svg" style="height:15px"/> icon when viewing a net to add one.</p>
<% end %>

<form action="/favorite" method="post">
  <p>Or you can add a favorite by call sign here: <input name="call_sign" size="7"/> <button>Add</button></p>
</form>
