<%= erb :_user %>

<h1>
  <img src="/images/logo.svg" style="height:30px;"/>
  RagChew.app
</h1>

<p>
  This is a limited web-based user interface companion to the
  <a href="http://netlogger.org/">NetLogger</a> desktop software.
</p>

<div id="net-map"
     data-centers='<%= @centers.to_json %>'></div>

<p class="index-map-explanation">The above map is a rough estimation and can be comically inaccurate at times. Rely on the list of nets below for certainty. :-)</p>

<%= erb :_timestamps %>

<h2>Nets</h2>

<% if @nets.any? %>
  <div class="table-wrapper">
    <table class="update-in-place" id="index-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Frequency</th>
          <th>Mode</th>
          <th>Band</th>
          <th>Started At</th>
          <th>Subscribers</th>
          <th>Host</th>
        </tr>
      </thead>
      <tbody>
        <% @nets.each do |net| %>
          <tr>
            <td><a href="/net/<%== url_escape(net[:name]) %>"><%== net[:name] %></a></td>
            <td><%== net[:frequency] %></td>
            <td><%== net[:mode] %></td>
            <td><%== net[:band] %></td>
            <td><%== format_time(net[:started_at]) %></td>
            <td><%== net[:subscribers] %></td>
            <td><%== net[:host] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p class="disclaimer">
    If you see something above that shouldn't be there, please <a href="mailto:tim@timmorgan.org">contact Tim</a>.
  </p>
<% else %>
  <p class="update-in-place" id="index-table"><em>no active nets</em></p>
<% end %>

<script id="map-script">
  const elm = document.getElementById('net-map')
  const centers = JSON.parse(elm.getAttribute('data-centers'))
  buildNetMap()
  updateNetMapCenters(centers)
</script>
