<%= erb :_user %>

<h1>
  <img src="/images/logo.svg" style="height:30px;"/>
  RagChew.app
</h1>

<p>
  Easily find and follow your favorite amateur radio (ham) nets, in the browser and on mobile.
  <a href="/about">What is this?</a>
</p>

<div id="net-map"
     data-centers='<%= json_for_html_attribute @centers %>'></div>

<%= erb :_timestamps %>

<h2 class="clear">Active Nets</h2>

<% if @nets.any? %>
  <div class="table-wrapper">
    <table class="update-in-place" id="index-table">
      <thead>
        <tr>
          <th><a href="?order=name">Name</a></th>
          <th><a href="?order=frequency">Frequency</a></th>
          <th><a href="?order=mode,frequency">Mode</a></th>
          <th><a href="?order=band,frequency">Band</a></th>
          <th><a href="?order=started_at">Started At</a></th>
          <th>Host</th>
        </tr>
      </thead>
      <tbody>
        <% @nets.each do |net| %>
          <tr>
            <td><a href="/net/<%== url_escape(net.name) %>"><%== net.name %></a></td>
            <td><%== net.frequency %></td>
            <td><%== net.mode %></td>
            <td><%== net.band %></td>
            <td><%= format_time(net.started_at) %></td>
            <td><%== net.host %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="update-in-place" id="index-table"><em>no active nets</em></p>
<% end %>

<p>
  More:
  <a href="/closed-nets">closed nets</a> |
  <a href="/groups">groups and clubs</a>
</p>

<h2>Recent Changes</h2>

<p>
  I work hard on this site to make it useful for hams everywhere. Please let me know if you think it could be made better!
  Also, if you see something wrong or weird, please <a href="mailto:<%= SUPPORT_EMAIL %>">contact me</a>. -Tim
</p>

<dl>
  <dt>2024-08-15</dt>
  <dd>The AIM / "blue screen" messages section has been reformatted for better viewing on mobile. You can also view messages in reverse order, meaning the newest message is at the top, near the latest check-in.</dd>

  <dt>2024-05-17</dt>
  <dd class="highlight">I am beta testing logging capability in RagChew.app. If you are an NCO or logger for a net, please <a href="mailto:<%== SUPPORT_EMAIL %>">contact me</a> if you want to help test it.</dd>

  <dt>2024-05-10</dt>
  <dd>Notifications appear upper-right for new checkins and new messages, so you don't have to scroll so much on mobile to see if things are happening. :-)</dd>

  <dt>2024-05-05</dt>
  <dd>Map pins now show the name and link to the station's QRZ page.</dd>

  <dt>2024-04-30</dt>
  <dd>The Net page has been rewritten to be more responsive. Updates are now shown as soon as the server gets them. Messages sent by a RagChew user will be seen by other RagChew users instantly, without delay.</dd>

  <dt>2023-10-08</dt>
  <dd>You can now sort the net list on the home page by the different columns. (Suggested by <a href="https://www.qrz.com/db/KI5ZDE">KI5ZDE</a>.)</dd>

  <dt>2023-09-07</dt>
  <dd>Stations that are checked out (status of "(c/o)") are now grayed out in the log. (Suggested by <a href="https://www.qrz.com/db/N4UPC">N4UPC</a>.)</dd>
</dl>

<script id="map-script">
  const elm = document.getElementById('net-map')
  const centers = JSON.parse(elm.getAttribute('data-centers'))
  buildNetMap()
  updateNetMapCenters(centers)

  const minute = 60 * 1000
  const hour = 60 * minute
  setIntervalWithBackoff(
    updatePage,
    <%= @update_interval || 30 %> * 1000,
    <%= @update_backoff || 5 %> * 1000,
    1 * hour
  )

  formatTimes()
</script>
