<h1>NetLogger Web</h1>

<h2>Nets</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Frequency</th>
      <th>Mode</th>
      <th>Band</th>
      <th>Start Time</th>
      <th>Subscribers</th>
      <th>Host</th>
    </tr>
  </thead>
  <tbody>
    <% @nets.each do |net| %>
      <tr>
        <td><a href="/net/<%== CGI.escape(net[:name]) %>"><%== net[:name] %></a></td>
        <td><%== net[:frequency] %></td>
        <td><%== net[:mode] %></td>
        <td><%== net[:band] %></td>
        <td><%== net[:start_time] %></td>
        <td><%== net[:subscribers] %></td>
        <td><%== net[:host] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="last-updated">Last updated <%= distance_of_time_in_words Time.now, @last_updated_at %> ago</p>
