<h1>NetLogger Web</h1>

<%= erb :_timestamps %>

<% if @user %>
  <p>
    <%= @user.call_sign %> |
    <a href="/logout">logout</a>
  </p>
<% else %>
  <p>
    <a href="/login">login</a> |
    <a href="/register">register</a>
  </p>
<% end %>

<h2>Nets</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Frequency</th>
      <th>Mode</th>
      <th>Band</th>
      <th>Started At</th>
      <th>Subscribers</th>
      <th>Host</th>
    </tr>
  </thead>
  <tbody>
    <% @nets.each do |net| %>
      <tr>
        <td><a href="/net/<%== CGI.escape(net[:name]) %>"><%== net[:name] %></a></td>
        <td><%== net[:frequency] %></td>
        <td><%== net[:mode] %></td>
        <td><%== net[:band] %></td>
        <td><%== net[:started_at].strftime('%Y-%m-%d %H:%M UTC') %></td>
        <td><%== net[:subscribers] %></td>
        <td><%== net[:host] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
