<div class="user-nav">
  <% if @user %>
    <% if @user.image %>
      <img src="<%== @user.image %>" style="height:40px"/><br/>
    <% end %>
    <a href="https://www.qrz.com/db/<%== url_escape(@user.call_sign) %>"><%== @user.call_sign %></a> |
    <a href="/logout">log out</a>
  <% else %>
    <a href="/login">log in</a>
  <% end %>
</div>

<h1>NetLogger Web</h1>

<%= erb :_timestamps %>

<h2>Nets</h2>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Frequency</th>
        <th>Mode</th>
        <th>Band</th>
        <th>Started At</th>
        <th>Subscribers</th>
        <th>Host</th>
      </tr>
    </thead>
    <tbody>
      <% @nets.each do |net| %>
        <tr>
          <td><a href="/net/<%== url_escape(net[:name]) %>"><%== net[:name] %></a></td>
          <td><%== net[:frequency] %></td>
          <td><%== net[:mode] %></td>
          <td><%== net[:band] %></td>
          <td><%== format_time(net[:started_at]) %></td>
          <td><%== net[:subscribers] %></td>
          <td><%== net[:host] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
