<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Frequency</th>
      <th>Mode</th>
      <th>Band</th>
      <th>Start Time</th>
      <th>Subscribers</th>
    </tr>
  </thead>
  <tbody>
    <% @nets.each do |net| %>
      <tr>
        <td><a href="/net/<%== CGI.escape(net[:name]) %>"><%== net[:name] %></a></td>
        <td><%== net[:frequency] %></td>
        <td><%== net[:mode] %></td>
        <td><%== net[:band] %></td>
        <td><%== net[:start_time] %></td>
        <td><%== net[:subscribers] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
