<!doctype html>
<html lang="en">
  <head>
    <title>
      RagChew.app
      <% if development? %>
        (development)
      <% end %>
      <% if @page_title %>
        -
        <%== @page_title %>
      <% end %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.svg" type="image/svg">
    <link rel="stylesheet" href="/typesafe.css">
    <%= style_tag 'main.css' %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <link rel="stylesheet" href="https://esm.sh/toastify-js@1.12.0/src/toastify.min.css"/>
    <script src="/main.js?_ts=<%== File.stat('public/main.js').mtime.to_i %>"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
  </head>
  <body>
    <%= yield %>
    <footer>
      <p>
      Built with ❤️ by <a href="https://www.qrz.com/db/KI5ZDF">KI5ZDF</a> (<a href="https://timmorgan.dev">Tim Morgan</a>).
        <a href="https://github.com/seven1m/ragchew.app">This code is open source.</a>
        We are not affiliated with NetLogger.org.
        <a href="mailto:<%= SUPPORT_EMAIL %>">Send corrections or report spam/abuse.</a>
      </p>
    </footer>
  </body>
</html>
