<!doctype html>
<html lang="en">
  <head>
    <title>
      RagChew.app
      <% if development? %>
        (development)
      <% end %>
      <% if @page_title %>
        -
        <%== @page_title %>
      <% end %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if @theme == 'dark' %>
      <link rel="shortcut icon" href="/images/logo-dark.svg" type="image/svg">
    <% elsif @theme == 'system' %>
      <link rel="shortcut icon" href="/images/logo.svg" type="image/svg">
      <link rel="shortcut icon" href="/images/logo-dark.svg" type="image/svg" media="(prefers-color-scheme: dark)">
    <% else %>
      <link rel="shortcut icon" href="/images/logo.svg" type="image/svg">
    <% end %>
    <link rel="stylesheet" href="/typesafe.css">
    <%= style_tag 'main.css' %>
    <% if @theme == 'dark' %>
      <link rel="stylesheet" href="/dark.css">
    <% elsif !@user || @theme == 'system' %>
      <link rel="stylesheet" href="/dark.css" media="(prefers-color-scheme: dark)">
    <% end %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <link rel="stylesheet" href="/toastify.css"/>
    <%= script_tag 'net.js' %>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
  </head>
  <body data-time-format="<%= @user&.time_format %>" data-theme="<%= @theme || 'system' %>">
    <% unless @for_mobile %>
      <%= nav %>
    <% end %>
    <%= yield %>
    <footer>
      <p>
      Built with ❤️ by <a href="https://www.qrz.com/db/KI5ZDF">KI5ZDF</a> (<a href="https://timmorgan.dev">Tim Morgan</a>).
        <a href="https://github.com/seven1m/ragchew.app">This code is open source.</a>
        We are not affiliated with NetLogger.org.
        <a href="mailto:<%= SUPPORT_EMAIL %>">Send corrections or report spam/abuse.</a>
      </p>
    </footer>
    <% if @for_mobile %>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    <% end %>
  </body>
</html>
