<!doctype html>
<html lang="en">
  <head>
    <title>
      RagChew.app
      <% if development? %>
        (development)
      <% end %>
      <% if @page_title %>
        -
        <%== @page_title %>
      <% end %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/svg">
    <link rel="stylesheet" href="/typesafe.css">
    <script src="/main.js"></script>
    <style>
      span.Offline { color: #ccc; }
      em.highlight { font-style: normal; background-color: #ffc; }
      h2 { border-bottom: 3px double #999; }
      body { max-width: 100%; }
      .timestamps { float: right; font-size: smaller; font-style: italic; }
      footer { margin-top: 50px; }
      footer p { font-size: smaller; color: #999; }
      footer a, footer a:visited { color: #999; }
      tr.currently-operating td { background-color: #fcf; }
      td { white-space: nowrap; }
      td.can-wrap { white-space: normal; min-width: 150px; }
      tr.odd { background-color: #eee; }
      tr.details { border-bottom: none; }
      tr.remarks { color: #777; }
      .error { color: red; }
      input { padding: 8px; font-size: larger; margin: 0 3px 3px 0; }
      .user-nav { float: right; text-align: right; }
      .blue-screen { background-color: #e8f4f8; }
      .index-map-explanation { color: #999; font-size: smaller; font-style: italic; }
      .favorite-star { width: 15px; height: 15px; max-width: none; cursor: pointer; }
      .disclaimer { font-size: smaller; color: #999; }
      .disclaimer a, .disclaimer a:visited { color: #999; }
      form.inline { display: inline; }
      ul.no-bullets { list-style-type: none; padding: 0; margin: 0; }
      .columns { display: flex; justify-content: space-between; }
      .columns .column { flex-grow: 1; }
      #net-map { height: 500px; }
      @media only screen and (max-height: 800px) {
        #net-map { height: 300px; }
      }
      @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
        .table-wrapper { overflow-x: auto; }
        #net-map { height: 300px; }
        .columns { display: block; }
        .columns .column { flex-grow: 0; }
      }
    </style>
    <% if @last_updated_at %>
      <script>
        let secondsToWaitBetweenUpdates = <%= @update_interval || 30 %>
        const updateBackoff = <%= @update_backoff || 0 %>
        const startTime = new Date()
        const maxTimeToRefreshInSeconds = 3 * 60 * 60 // 3 hours
        function updatePageAndScheduleNext() {
          updatePage()
          secondsToWaitBetweenUpdates += updateBackoff
          if ((new Date() - startTime) < (maxTimeToRefreshInSeconds * 1000)) {
            console.log(`waiting ${secondsToWaitBetweenUpdates} seconds till next update`)
            setTimeout(updatePageAndScheduleNext, secondsToWaitBetweenUpdates * 1000)
          } else {
            console.log(`stopped refreshing after ${maxTimeToRefreshInSeconds} seconds`)
          }
        }
        setTimeout(() => {
          updatePageAndScheduleNext()
        }, (secondsToWaitBetweenUpdates - Math.min(secondsToWaitBetweenUpdates, <%= Time.now - @last_updated_at %>)) * 1000)
      </script>
    <% end %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
  </head>
  <body>
    <%= yield %>
    <footer>
      <p>
        Built with ❤️ by KI5ZDF <a href="https://timmorgan.dev">Tim Morgan</a>.
        This website is not affiliated with NetLogger.org.
        <a href="mailto:tim@timmorgan.org">Report spam/abuse here</a>.
      </p>
    </footer>
  </body>
</html>
