<p><a href="/">home</a></p>

<h1><%== @net.name %></h1>

<h2>Log</h2>

<table>
  <thead>
    <tr>
      <th>Num</th>
      <th>Call Sign</th>
      <th>Name</th>
      <th>Remarks</th>
      <th>Time</th>
      <th>Grid Square</th>
      <th>Status</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% @net.checkins.each do |entry| %>
      <tr>
        <td><%== entry[:num] %></td>
        <td><%== entry[:call_sign] %></td>
        <td><%== entry[:name] %></td>
        <td><%== entry[:remarks] %></td>
        <td><%== entry[:checked_in_at].strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%== entry[:grid_square] %></td>
        <td><%== entry[:status] %></td>
        <td><%== entry[:city] %></td>
        <td><%== entry[:state] %></td>
        <td><%== entry[:country] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Messages</h2>

<table>
  <thead>
    <tr>
      <th>Call Sign</th>
      <th>Message</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <% @net.messages.order(:sent_at).each do |message| %>
      <tr>
        <td><%== message[:call_sign] %></td>
        <td><%== message[:message] %></td>
        <td><%== message[:sent_at].strftime('%Y-%m-%d %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Monitors</h2>

<table>
  <thead>
    <tr>
      <th>Call Sign</th>
      <th>Version</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @net.monitors.order(:call_sign).each do |monitor| %>
      <tr>
        <td><%== monitor[:call_sign] %></td>
        <td><%== monitor[:version] %></td>
        <td><span class="<%== monitor[:status] %>"><%== monitor[:status] %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="last-updated">Last updated <%= distance_of_time_in_words Time.now, @last_updated_at %> ago</p>
