<p><a href="/">home</a></p>

<h1><%== @net.name %></h1>

<p>
  <%== @net.frequency %>
  <%== @net.mode %>
  <%== @net.band %>
  started at <%== format_time(@net.started_at) %>
  <%== @net.host %>
</p>

<%= erb :_timestamps %>

<h2>Log</h2>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Num</th>
        <th>Image</th>
        <th>Call Sign</th>
        <th>Name</th>
        <th>Remarks</th>
        <th>Time</th>
        <th>Grid Square</th>
        <th>Status</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <% @net.checkins.each do |entry| %>
        <tr class="<%= entry.currently_operating? ? 'currently-operating' : ''%>">
          <td><%== entry[:num] %></td>
          <td>
            <a href="/station/<%== url_escape entry[:call_sign] %>/image" style="text-decoration:none">
              <img src="/station/<%== url_escape entry[:call_sign] %>/image" style="max-height:40px;max-width:40px" onerror="this.parentNode.removeChild(this)"/>
            </a>
          </td>
          <td>
            <a href="https://www.qrz.com/db/<%== url_escape(entry[:call_sign]) %>">
              <%== entry[:call_sign] %>
            </a>
          </td>
          <td><%== entry[:name] %></td>
          <td class="can-wrap"><%== entry[:remarks] %></td>
          <td><%== format_time(entry[:checked_in_at]) %></td>
          <td><%== entry[:grid_square] %></td>
          <td><%== entry[:status] %></td>
          <td><%== entry[:city] %></td>
          <td><%== entry[:state] %></td>
          <td><%== entry[:country] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2>Messages</h2>

<% if @messages.any? %>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Call Sign</th>
          <th>Message</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |message| %>
          <tr>
            <td><%== message[:call_sign] %></td>
            <td class="can-wrap"><%== message[:message] %></td>
            <td><%== format_time(message[:sent_at]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p><em>no messages yet</em></p>
<% end %>

<h2>Monitors</h2>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Call Sign</th>
        <th>Version</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @net.monitors.order(:call_sign).each do |monitor| %>
        <tr>
          <td><%== monitor[:call_sign] %></td>
          <td><%== monitor[:version] %></td>
          <td><span class="<%== monitor[:status] %>"><%== monitor[:status] %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
