<%= erb :_user %>

<p><a href="/">home</a></p>

<header class="flex">
  <div class="header-col-grow">
    <%= erb :_club_breadcrumb, locals: { net: @net } %>

    <h1><%== @net.name %></h1>

    <% if @net.logger_user == @user %>
      <form action="/close-net/<%== @net.id %>" method="POST" onsubmit="if (!confirm('Are you sure?')) return false">
        <input type="submit" value="Close net!"/>
      </form>
    <% end %>

    <p>
      <%== @net.frequency %> |
      <%== @net.mode %> |
      <%== @net.band %> |
      started at <%== format_time(@net.started_at) %> |
      <%== @net.host %>
    </p>
  </div>

  <div class="header-col">
    <%= club_logo_image_tag(@net.club) %>
  </div>
</header>

<% net_info = {
  userCallSign: @user.call_sign,
  netId: @net.id,
  updateInterval: @update_interval,
  lastUpdatedAt: @last_updated_at,
  isLogger: @net.logger_user == @user,
  monitoringThisNet: @user.monitoring_net == @net,
  pusher: {
    key: pusher_key,
    cluster: pusher_cluster,
    authEndpoint: "/pusher/auth/#{@net.id}",
    channel: "private-net-#{@net.id}",
  }
} %>

<div data-component="Net" data-props="<%= json_for_html_attribute(net_info) %>">
  <p>loading...</p>
</div>

<%= erb :_admin_net_controls %>

<%= script_tag 'net.js' %>
