<%= erb :_user %>

<p><a href="/">home</a></p>

<h1>
  <%= club_logo_image_tag(@net.club) %>
  <%== @net.name %>
</h1>

<p>
  <% if (club = @net.club) && club.about_url.present? %>
    <a href="<%== make_url_safe_for_html_attribute(club.about_url) %>"><%= pretty_url(club.about_url) %></a>
  <% end %>

  <%== @net.frequency %> |
  <%== @net.mode %> |
  <%== @net.band %> |
  started at <%== format_time(@net.started_at) %> |
  <%== @net.host %>
</p>

<div id="net-map" data-coords='<%= @coords.to_json %>'></div>

<%= erb :_timestamps %>

<h2>Log</h2>

<% if @checkins.any? %>
  <div class="table-wrapper">
    <table class="update-in-place" id="checkins-table">
      <thead>
        <tr>
          <th>Num</th>
          <th>Image</th>
          <th>Call Sign</th>
          <th>Name</th>
          <th>Time</th>
          <th>Grid Square</th>
          <th>Status</th>
          <th>City</th>
          <th>County</th>
          <th>State</th>
          <th>Country</th>
        </tr>
      </thead>
      <tbody>
        <% @checkins.each_with_index do |entry, index| %>
          <% if entry.call_sign.present? %>
            <tr class="details <%= index % 2 == 0 ? 'even' : 'odd' %> <%= entry.currently_operating? ? 'currently-operating' : ''%>">
              <td><%== entry.num %></td>
              <td style="height:64px">
                <a href="/station/<%== url_escape entry.call_sign %>/image" style="text-decoration:none">
                  <img
                    src="/station/<%== url_escape entry.call_sign %>/image"
                    style="max-height:40px;max-width:40px"
                    onerror="this.parentNode.removeChild(this)"
                  />
                </a>
              </td>
              <td>
                <%= erb :_favorite, locals: { call_sign: entry.call_sign, favorited: @favorites.include?(entry.call_sign) } %>
                <a href="https://www.qrz.com/db/<%== url_escape(entry.call_sign) %>">
                  <%== entry.call_sign %>
                </a>
              </td>
              <td><%== entry.name %></td>
              <td><%== format_time(entry.checked_in_at) %></td>
              <td><%== entry.grid_square %></td>
              <td><%== entry.status %></td>
              <td><%== entry.city %></td>
              <td><%== entry.county %></td>
              <td><%== entry.state %></td>
              <td><%== entry.country %></td>
            </tr>
          <% end %>
          <% if entry.remarks.strip.size > 0 %>
            <tr class="remarks <%= index % 2 == 0 ? 'even' : 'odd' %> <%= entry.currently_operating? ? 'currently-operating' : ''%>">
              <% if entry.call_sign.present? %>
                <td></td>
              <% else %>
                <td><%== entry.num %></td>
              <% end %>
              <td></td>
              <td colspan="9" class="can-wrap"><%== entry.remarks %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="update-in-place" id="checkins-table"><em>no check-ins yet</em></p>
<% end %>

<h2 id="messages">Messages</h2>

<% if @user.monitoring_net == @net %>
  <% if @messages.any? %>
    <div class="table-wrapper blue-screen">
      <table class="update-in-place" id="messages-table">
        <thead>
          <tr>
            <th>Call Sign</th>
            <th>Message</th>
            <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          <% @messages.each do |message| %>
            <tr>
              <td><%== message[:call_sign] %></td>
              <td class="can-wrap"><%== message[:message] %></td>
              <td><%== format_time(message[:sent_at]) %></td>
            </tr>
          <% end %>
          <% if session.dig(:message_sent, :net_id) == @net.id %>
            <% if @messages.size == session.dig(:message_sent, :count_before) %>
              <tr>
                <td>
                  <%== @user.call_sign %>
                  <em>sending...</em>
                </td>
                <td class="can-wrap"><%== session.dig(:message_sent, :message) %></td>
                <td><%== format_time(Time.now) %></td>
              </tr>
            <% else %>
              <% session.delete(:message_sent) %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="update-in-place" id="messages-table"><em>no messages yet</em></p>
  <% end %>
  <form action="/message/<%= @net.id %>" method="post" onsubmit="sendMessage(this); return false">
    <input id="message" type="text" name="message" placeholder="type your message" style="width:calc(100% - 100px)"/>
    <input type="submit" value="Send"/>
  </form>
  <p>
    <form action="/unmonitor/<%= @net.id %>" method="post"><button>Stop monitoring this Net</button></form>
  </p>
<% else %>
  <p class="update-in-place" id="messages-table">
    <em><%= @messages.size %> message<%= @messages.size == 1 ? '' : 's' %>.</em> Click below to participate.
    <form action="/monitor/<%= @net.id %>" method="post"><button>Monitor this Net</button></form>
  </p>
<% end %>

<h2>Monitors</h2>

<div class="table-wrapper">
  <table class="update-in-place" id="monitors-table">
    <thead>
      <tr>
        <th>Call Sign</th>
        <th>Name</th>
        <th>Version</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @monitors.each do |monitor| %>
        <tr>
          <td><%== monitor.call_sign %></td>
          <td><%== monitor.name %></td>
          <td><%== monitor.version %></td>
          <td><span class="<%== monitor.status %>"><%== monitor.status %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script id="map-script">
  const elm = document.getElementById('net-map')
  const coords = JSON.parse(elm.getAttribute('data-coords'))
  buildNetMap()
  updateNetMapCoords(coords)
</script>

<%= erb :_admin_net_controls %>
