<h1><%== @user.call_sign %></h1>

<p>
  Name: <%== @user.name %>
</p>

<p>Your name, location, and profile photo all come from <a href="https://qrz.com/db/<%== url_escape(@user.call_sign) %>">www.qrz.com/db/<%== @user.call_sign %></a>. You can log in there to change them.</p>

<p><a href="/logout" data-method="post">Log out</a></p>

<h2>Preferences</h2>

<p>These settings change how the site works for you.</p>

<form action="/preferences" method="post">
  <label>
    Time format:<br />
    <select name="time_format">
      <% {
        local_24: "Local 24-hour",
        local_12: "Local 12-hour",
        utc_24: "UTC",
      }.each do |value, label| %>
        <option value="<%= value %>" <%- if @user.time_format.to_sym == value %>selected<%- end %>><%= label %></option>
      <% end %>
    </select>
  </label>

  <% if request.env['HTTP_X_RAGCHEW_THEME'] %>
    <p>Mobile app theme is detected as <%== @theme.inspect %>.</p>
  <% else %>
    <label>
      Theme:<br />
      <select name="theme">
        <% {
          'system' => "Automatic",
          'light' => "Light",
          'dark' => "Dark",
        }.each do |value, label| %>
          <option value="<%= value %>" <%- if @user.theme == value %>selected<%- end %>><%= label %></option>
        <% end %>
      </select>
    </label>
  <% end %>

  <p><input type="submit" value="Save" /></p>
</form>

<h2>My Groups and Clubs (<%= @my_clubs.size %>)</h2>

<% if @my_clubs.any? %>
  <ul>
    <% @my_clubs.each do |club| %>
      <li>
        <a href="/group/<%== url_escape(club.name) %>"><%== club.best_name %></a>
        <form class="inline" action="/leave-group/<%= club.id %>?return=/user" method="post" onclick="if (!confirm('Are you sure?')) return false"><button>Leave</button></form>
      </li>
    <% end %>
  </ul>
  <p><em>You can find groups and clubs <a href="/groups">here</a>.</em></p>
<% else %>
  <p><em>You have not joined any clubs yet. You can find them <a href="/groups">here</a>.</em></p>
<% end %>

<h2>Blocked Stations</h2>

<p>Station call signs listed here will not show in the Messages section of any net, just for you. You can carry on blissfully unaware they are talking. :-)</p>

<% if @blocked_stations.any? %>
  <ul>
    <% @blocked_stations.each do |blocked_station| %>
      <li>
        <%== blocked_station.call_sign %>
        <form class="inline" action="/blocked-stations/<%= blocked_station.id %>" method="post" onclick="if (!confirm('Are you sure?')) return false">
          <input type="hidden" name="_method" value="delete" />
          <button>Remove</button>
        </form>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><em>No blocked stations.</em></p>
<% end %>

<form class="inline" action="/blocked-stations" method="post">
  <input type="text" name="call_sign" placeholder="Call sign" required />
  <input type="submit" value="Block" />
</form>
